.text {
    margin: 0;
    padding: 0;
    transition: color 150ms ease-in-out, width 150ms ease-in-out;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    overflow-wrap: break-word;
    overflow: hidden;
    word-break: break-word;
}

.text.wrap {
    white-space: pre-wrap;
}

.text.is-selectable {
    user-select: text;
}
