.board-column {
    width: 250px;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
    min-height: calc(100vh - 60px - 45px - 76px);
    transition: background-color 150ms ease-in-out;
}

.board-column-header {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: 250px;
    position: sticky;
    top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    gap: 12px;
    justify-content: space-between;
    box-shadow: 0 1px 0 var(--outline);
    z-index: 10;
    background-color: var(--tertiary);
}

.board-column-content {
    height: calc(100% - 45px);
    width: 250px;
    padding: 6px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    transition: border 150ms ease-in-out;
}
