.select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    position: relative;
}

.select-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
    user-select: none;
    background-color: var(--surface);
    color: var(--text);
    min-height: 40px;
    transition: border 150ms ease-in-out;
}

.select-dropdown {
    position: absolute;
    border: 1px solid var(--outline);
    border-radius: 4px;
    background-color: var(--surface);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999999;
    overflow: hidden;
    padding: 4px;
    transition: opacity 150ms ease-in-out;
}

.select-dropdown.fade-in {
    opacity: 1;
}

.select-dropdown.fade-out {
    opacity: 0;
}
