.select-item {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    position: relative;
    gap: 12px;
    height: 40px;
}

