.select-item {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 40px;
    position: relative;
    gap: 12px;
    height: 40px;
}

.select-item-selected-icon {
    position: absolute;
    left: 12px;
}
