.project-card {
    cursor: pointer;
    align-items: flex-start;
}

.project-card-description {
    height: 38px;
}

.project-card-content {
    padding: 24px;
}

.project-card-footer {
    padding: 12px 24px;
}
