.button {
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
}
