.text-field-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-field {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
    font-size: 16px;
    min-height: 40px;
    color: var(--text);
    transition: border 150ms ease-in-out;
}

.text-field.text-field-with-icon {
    padding-left: 40px;
}

.text-field::placeholder {
    color: var(--outline);
}

.text-field-container {
    position: relative;
    display: flex;
    align-items: center;
}

.text-field-icon {
    position: absolute;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
